---
layout: base.njk
---

<h1>Schurgott Law</h1>
<h2>Commercial legal advice</h2>
<p>Specialising in taxation, commercial and business law, trusts, wills and estates and superannuation law.</p>
<p>
    <strong>Sydney:</strong> <a href="https://www.google.com/maps/place/Lvl+21%2F133+Castlereagh+St,+Sydney+NSW+2000"></a>133 Castlereagh St, Sydney NSW 2000<br><br>
    <strong>Adelaide:</strong> <a href="https://www.google.com/maps/place/167+Flinders+Street,+167+Flinders+St,+Adelaide+SA+5000"></a>167 Flinders Street Adelaide SA 5000
</p>
<p>Contact us via email:<a href="mailto:admin@schurgottlaw.com">admin@schurgottlaw.com</a></p>