---
layout: base.njk
---

<h1>Schurgott Law</h1>
<h2>Commercial legal advice</h2>
<p>Specialising in taxation, commercial and business law, trusts, wills and estates and superannuation law.</p>
<p>We principally support practicting accountants and advisers and work with their clients on a referral basis.</p>
<p><a href="https://www.google.com/maps/place/Lvl+21%2F133+Castlereagh+St,+Sydney+NSW+2000">133 Castlereagh St, Sydney NSW 2000</a></p>
<p><a href="https://www.google.com/maps/place/167+Flinders+Street,+167+Flinders+St,+Adelaide+SA+5000"></a>167 Flinders Street Adelaide SA 5000</p>
<p>Phone: <a href=tel:0411 111 111>0411 111 111</a></p>
<a href="mailto:admin@schurgottlaw.com.au">admin@schurgottlaw.com.au</a>